@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>

    <div class="titulo_pagina">
        <h1>FALE CONOSCO</h1>
        <p>Caso tenha alguma sugestão ou problema ao usar nossa plataforma entre em contato conosco pelos números:</p>
        <ul>
            <li>(11) 99729-0001</li>
            <li>(11) 99729-0002</li>
            <li>(11) 99729-0003</li>
        </ul>
        <p>Ou pelo e-mail faleconosco@searchpeople.com</p>
    </div>
</section>